# File Types
*.jar
hs_err_pid*
*.bak
*.tmp
*.zip
# Files
packwiz
.index
# Configs
config/jei/world/*
config/fabric/*
config/spark/activity.json
stepup.json
ssrd-common.toml
cpm.json
lookupHistory.json
sodium-extra.properties
sodium-fingerpring.json
sodium-mixins.properites
sodium-options.json
sodiumdynamiclights-client.toml
# Other
resourcepacks/Tom's Metal Storage v1.2 (1.21.1).zip
# Folders
/guide
/kubejs/assets/testmod
/config/structurify
