*.jar
hs_err_pid*
*.bak
*.tmp
packwiz

sodium-extra.properties
sodium-fingerpring.json
sodium-mixins.properites
sodium-options.json
sodiumdynamiclights-client.toml
stepup.json
ssrd-common.toml
lookupHistory.json
indigo-renderer.properties
ssrd-common.toml
config/spark/activity.json
/config/fabric
