*.jar
hs_err_pid*
*.bak
packwiz
.README.md.kate-swp
saves/Testing World (Make Copy)/level.dat
config/sodium-extra.properties
config/sodium-fingerpring.json
config/sodium-mixins.properites
config/sodium-options.json
config/sodiumdynamiclights-client.toml
config/stepup.json
config/fabric/indigo-renderer.properties
*.tmp
config/ssrd-common.toml
config/ssrd-common.toml
config/jei/world/local/New_World__13/lookupHistory.json
config/fabric/indigo-renderer.properties
config/ssrd-common.toml
